<%- include('partials/head.ejs', {page: "Home"}) %> 
<%- include('partials/header.ejs') %>

<!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this article?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="#" id="confirmDeleteButton" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="articles-container">
  <% articles.forEach(articles => { %>
  <div class="article-card">
    <div class="authorInfo">
      <img class="" src="/<%= (articles && articles.authorProfileImage) ?? 'uploads/avatar-placeholder.jpg' %>" alt="authorImage">
      <div><%= articles.authorFirstName %> <%= articles.authorLastName %></div>
    </div>

    <img class="authorImage" src="<%= (articles && articles.imageUpload && articles.imageUpload !== '/') ? articles.imageUpload : '/uploads/placeholder-news.jpg' %>" alt="Profile Image">
    <div class="authorHeading"><%= articles.headline %></div>
    <div class="authorSubHeading"><%= articles.subhead %></div>
    <div class="authorDescription"><%= articles.content %></div>
    <% if (loggedInUserId ===  articles.author) { %>
      <div class="authorControls">
        <i class="bi bi-pen" onclick="window.location.href='/editArticle/<%= articles._id.toString() %>'"></i>  
        <i class="bi bi-trash" onclick="openDeleteConfirmationModal('<%= articles._id.toString() %>')"></i>
      </div>
    <% } %>
    
  </div>
  <% }) %>
</div>
  
<%- include('partials/footer.ejs') %> 
<%- include('partials/foot.ejs') %>

